---
instance_ingress_security_rules:
  # A. Allow incoming SSH connections
  - source: "{{ all_cidr_block }}"
    protocol: "{{ tcp_protocol }}"
    tcp_options:
      destination_port_range:
        min: {{ ssh_port }}
        max: {{ ssh_port }}

  # B. Protocols for FSS- TCP/111,2048-2050; UDP/111,2048
  # B1. Allow TCP traffic for port: 111
  - source: "{{ all_cidr_block }}"
    protocol: "{{ tcp_protocol }}"
    tcp_options:
      destination_port_range:
        min: 111
        max: 111
  # B2. Allow TCP traffic for port: 2048-2050
  - source: "{{ all_cidr_block }}"
    protocol: "{{ tcp_protocol }}"
    tcp_options:
      destination_port_range:
        min: 2048
        max: 2050
  # B3. Allow UDP traffic for port: 111
  - source: "{{ all_cidr_block }}"
    protocol: "{{ udp_protocol }}"
    udp_options:
      destination_port_range:
        min: 111
        max: 111
  # B4. Allow UDP traffic for port: 2048
  - source: "{{ all_cidr_block }}"
    protocol: "{{ udp_protocol }}"
    udp_options:
      destination_port_range:
        min: 2048
        max: 2048

  # C. Protocols for Webserver
  # C1. Allow TCP traffic for port: 80/HTTP
  - source: "{{ all_cidr_block }}"
    protocol: "{{ tcp_protocol }}"
    tcp_options:
      destination_port_range:
        min: 80
        max: 80
  # C2. Allow TCP traffic for port: 443/HTTPS
  - source: "{{ all_cidr_block }}"
    protocol: "{{ tcp_protocol }}"
    tcp_options:
      destination_port_range:
        min: 443
        max: 443


